body {
  font-family: 'Open Sans', Arial, serif;
  font-size: large;
  background-color: #e5e9f0;
}

#header {
  background-color: #bccae4;
  padding: 20px;
  margin: 0px;
  border-radius: 10px;
}

#content {
  margin: auto;
  width: 50%;
}

#valueSlider{
  display: inline;
}

input[type="file"] {
    display: none;
}

.button{
  color: #e5e9f0;
  background-color: #5E81AC;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #4c688a;
  font-size: large;
}

.button:hover{
  background-color: #b7ceeb;
}

canvas{
  border: #d8dee9 5px solid;
}

p {
  margin: 10px;
}

h1 {
  margin: 0px;
}
h2 {
  clear: both;
  position: relative;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #3e6392;
}
h2 span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #fff;
}

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #D8DEE9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5E81AC;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
