body {
  font-family: 'Open Sans', Arial, serif;
  background-color: #ffffff;
  font-size: 1em;
  margin: 0px;
  padding: 0px 0px 25px 0px;
}

p {
  margin: 10px;
}

h1 {
  margin: 0px;
}
h2 {
  clear: both;
  position: relative;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #3e6392;
}
h2 span {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
  background: #fff;
}

#content {
  padding-left: 4rem;
}